@font-face {
  font-family: "GoogleSans";
  src: url("./fonts/GoogleSansTTF/GoogleSans-Regular.ttf");
}
body {
  font-family: GoogleSans !important;
  font-size: 14px !important;
  letter-spacing: .2px !important;
  line-height: normal !important;
}


/* login page */

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.login-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
}
.login-logo{
  height: 45px;
  margin-right: 18px;
  object-fit: contain;
}
.login-title{
  color: #1f2e4c;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 129x;
  text-align: center;
  white-space: pre-line;
}
.login-form{
  border: 1px solid #e8eaed;
  border-radius: 2px;
  margin-top: 32px;
  padding: 32px 24px;
}
.login-form .form-input{
  margin-bottom: 18px;
  margin-top: 12px;
  width: 300px;
  padding: 0 10px;
  height: 36px;
  border: 1px solid #e8eaed;
  border-radius: 2px;
  background-color: #fff;
  outline: none;
  color: #1f2e4c;
}
.icon-showpass{
  font-size: 22px;
  height: 22px;
  width: 22px;
  margin-left: 12px;
  margin-bottom: 10px;

}
.login-btn{
  font-family: GoogleSans ;
  font-size: 14px ;
  letter-spacing: .2px ;
  line-height: normal ;
  margin-top: 14px;
  background-color: #446ab5;
  color: rgb(255, 255, 255);
  min-width: 100px;
  width: 100%;
  user-select: none;
  padding: 10px 0;
  border: none;
}
.login-btn:disabled{
  background-color: RGB(180, 195, 225);
  color: rgb(255, 255, 255);
}
.login-with-social-btn{
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
.login-with-logo{
  font-size: 22px;
  height: 22px;
  width: 22px;
}
.login-with{
  width: 200px;
  height: 40px;
  margin: 5px 0;
  padding-top: 8px;
  border:1px solid #282c34;
  display: flex;
  justify-content: space-around;
}
.login-with p{
  padding-top: 4px;
}
.with-fb{  
  letter-spacing: .7px;
  color: white;
  background-color: RGB(66, 103, 178);

}
.with-mi{
  color: #1f2e4c;
  letter-spacing: .7px;
  background-color: RGB(238, 238, 238);
}
.with-li{
  letter-spacing: .7px;
  color: white;
  background-color: RGB(66, 103, 178);
  color: white;
}
.login-form label{
  color: #8991a4;
}
.modal-ok{
  color: #446ab5;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

/*                */


/* forgot password page */

.instruction{
  color: #8991a4;
  white-space: pre-line;
}
.instruction p{
  margin-bottom: 20px;
}
.support-email{
  color: #446ab5;
  cursor: pointer;
  white-space: pre-line;

}
/*                */
